#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.form-box {
  display: grid;
  grid-template-columns: 1fr;
}

.food-card {
  text-align: left;
  height: 100%;
}

.food-image img {
  width: 100%;
}

.form-container,
label[for='search'] {
  max-width: 600px;
  width: 60%;
  margin: auto auto;
  margin-bottom: 2rem;
}
